.discord-message {
  .d-emoji {
    @apply inline-block w-1.5rem;
  }

  .d-mention {
    @apply text-primary font-bold rounded-normal cursor-pointer;
    @apply px-[5px] py-[1px];
    @apply hover:(opacity-90);
    background-color: rgba(160, 229, 206, 0.3);
  }

  a {
    @apply text-primary hover:(opacity-90);
  }

  code {
    @apply bg-secondary-bg px-[5px] py-[1px] rounded-[4px] text-primary;
    white-space: break-spaces;
  }

  pre {
    @apply w-full bg-secondary-bg p-1rem rounded-normal;

    code {
      @apply bg-transparent p-0 rounded-none text-[unset];
      white-space: break-spaces;
    }

    .fix {
      @apply text-warning;
    }

    .diff {
      @apply text-danger;
    }

    .md {
      .hljs-bullet {
        @apply text-primary;
      }
    }
  }
}

.discord-attachments {
  img {
    @apply pt-[20px] max-h-[500px];
  }
}