@import url('./style/scrollbar.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Quicksand:wght@400;500;600&display=swap');

:root {
  --primary-bg: #272D38;
  --secondary-bg: rgba(0,0,0,0.3);
  --primary: #63E2B7;
  --base: #6B7280;
  --danger: #ec3c5c;
  --warning: #f2c97d;
}


html, body, #app, .n-config-provider, .layout {
  @apply full text-base;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Quicksand', sans-serif;
}


